* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --primary-color: #1ebfc1;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* common */
a {
    text-decoration: none;
}

.main-content {
    margin: 0 auto;
    width: 1170px;
    max-width: calc(100% - 48px);
}

.btn {
    display: inline-block;
    min-width: 186px;
    padding: 26px 20px;
    text-align: center;
    background: var(--primary-color);
    border-radius: 14px;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
}

.text-desc {
    color: #9da6a5;
    font-size: 1.8rem;
    line-height: 1.77;
}

.group {
    color: #767e7e;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 18px;
}

.title-lv2 {
    color: #0d1111;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.33;
}

.title-lv3 {
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
    line-height: normal;
}

/* ========== Header ========== */

header {
    position: sticky;
    background: #def6f5;
    top: -40px;
    padding-top: 40px;
    z-index: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}

ul {
    display: flex;
    /* gap: 40px; */
}

.navbar a {
    color: #2f3a3b;
    font-size: 1.6rem;
}

.navbar ul a {
    padding: 0 20px;
}

.navbar a.active {
    font-weight: 600;
}

.btn-sign-in {
    display: inline-block;
    padding: 12px 24px;
}

.btn-action .btn-sign-up {
    display: inline-block;
    width: 108px;
    text-align: center;
    line-height: normal;
    font-weight: 600;
    padding: 12px 0;
    border-radius: 6px;
    border: var(--primary-color) solid 1px;
}

.btn-action a:last-child {
    color: var(--primary-color);
}

/* ========== Hero ========== */

.hero {
    margin-top: 18px;
    padding: 20px 0 79px 0;
}

.info .title {
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.16;
}

.hero .info .desc {
    width: 79%;
    margin-top: 46px;
}

.hero .main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .info {
    width: 39%;
}

.hero .action-btn {
    display: flex;
    align-items: center;
    margin-top: 52px;
}

.hero .circle-btn {
    width: 62px;
    height: 62px;
    text-align: center;
    border-radius: 50%;
    border: var(--primary-color) solid 1px;
    margin-left: 50px;
    cursor: pointer;
}

.hero .btn-play {
    padding: 21px 0 21px 4px;
}

.hero .img-block {
    position: relative;
}

.hero .thumb {
    width: 576px;
    height: 631px;
    object-fit: cover;
}

.hero .sticky .schedules {
    position: absolute;
    background: #fff;
    border-radius: 24px;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    left: -62px;
    bottom: 46px;
}

.hero .sticky .desc {
    display: inline-block;
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}

.hero .sticky .wrap {
    padding: 16px 25px 23px 25px;
}

.sticky .schedules .chart:first-of-type {
    margin-top: 16px;
}

.sticky .schedules .chart {
    width: 74px;
    height: 6px;
    background-color: #edf1f5;
    border-radius: 25px;
    margin: 0 auto;
}

.sticky .schedules .chart ~ .chart {
    margin-top: 12px;
}

.sticky .schedules .chart .percent {
    width: var(--percent-chart);
    height: 100%;
    background-color: #fb9899;
    border-radius: 25px;
}

.sticky .schedules .chart:last-child {
    width: 26px;
    margin-top: 16px;
}

.sticky .sticky-course {
    position: absolute;
    display: inline-block;
    border-radius: 18px;
    background: #fefefd;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    top: 149px;
    left: -40px;
}

.sticky .sticky-course .wrap-course {
    display: flex;
    align-items: center;
    position: relative;
    padding: 16px 25px;
}

.sticky .sticky-course .desc {
    width: 55px;
    text-align: start;
    margin-left: 16px;
}

.sticky .sticky-course .book {
    position: relative;
}

.sticky .sticky-course .book::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 28px;
    height: 4px;
    background: #fff;
    left: 4px;
    bottom: 8px;
    border-radius: 20px;
}

.sticky .member {
    position: absolute;
    display: inline-block;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
    right: 45px;
    bottom: 41px;
}

.sticky .member .wrap-member {
    padding: 17px 35px;
}

.sticky .member .avatar-group {
    display: flex;
    margin-left: 7px;
    margin-top: 8px;
}

.sticky .member .avatar,
.sticky .member .quantity {
    width: 33px;
    height: 33px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -7px;
}

.sticky .member .quantity {
    background: #1ebfc1;
}

.sticky .member .quantity p {
    color: #fff;
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    line-height: 33px;
}

/* ========== Feature ========== */

.feature {
    padding-top: 65px;
    padding-bottom: 130px;
}

.feature .feature-title {
    max-width: 577px;
    margin-bottom: 18px;
}

.feature .desc {
    max-width: 590px;
}

.feature .selection {
    margin-top: 80px;
}

.feature .list {
    display: flex;
    justify-content: space-between;
}

.feature .item-title {
    margin-top: 26px;
    margin-bottom: 16px;
}

.feature .desc-lv1 {
    color: #9da6a5;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.68;
    max-width: 168px;
}

.feature .item:nth-of-type(2) .desc-lv1 {
    max-width: 223px;
}

.feature .item:nth-of-type(3) .desc-lv1 {
    max-width: 224px;
}

/* ======== course ========== */

.course {
    padding: 65px 0 132px;
}

.course .course-title {
    margin-bottom: 19px;
}

.course .course-desc {
    max-width: 525px;
}

.course .intro {
    display: flex;
    justify-content: space-between;
    margin-bottom: 79px;
}

.course .cta-btn {
    color: #1ebfc1;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}

.course .course-list {
    display: flex;
    gap: 47px;
}

.course .item {
    width: 33%;
}

.course .thumb {
    width: 100%;
    height: 393px;
    object-fit: cover;
    border-radius: 8px;
    opacity: 0.3499999940395355;
    background: #d0efed;
}

.course .thumb:hover {
    opacity: 1;
    transition: opacity 0.5s;
}

.course .info {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
    transform: translateY(-71px);
}

.course .info .wrap-item {
    padding: 18px 25px 19px 25px;
}

.course .info .title-item {
    color: #0d1111;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.course .info .price {
    color: #767e7e;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 16px 0 6px;
}

.course .info .price strong {
    color: #0d1111;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.course .info .desc,
.course .info .info-text {
    color: #9da6a5;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.course .info-item {
    display: flex;
    margin-top: 18px;
}

.course .info-item .info-text {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.course .info-item .info-text::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #1ebfc1;
    border-radius: 50%;
    margin-right: 8px;
}

.course .qty {
    max-width: 862px;
    display: flex;
    justify-content: space-between;
    margin: 265px auto 0;
}

.course .qty strong {
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 11px;
}

.course .qty .qty-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ======== Feedback ========= */

.feedback {
    padding-top: 132px;
}

.feedback .wrap-feedback {
}

.feedback .wrap-feedback blockquote {
    color: #5d6564;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    max-width: 419px;
    margin-top: 27px;
}

.feedback .wrap-feedback .icon-quote {
    margin-top: 37px;
}

.feedback .wrap-feedback .info-member {
    display: flex;
    align-items: center;
    color: #767e7e;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-top: 33px;
}

.feedback .wrap-feedback .info-member::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 2px;
    background: #070707;
    margin-right: 5px;
}

.feedback .wrap-feedback .info-member span {
    color: #070707;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}

.feedback .action {
    display: flex;
    gap: 30px;
    margin-top: 52px;
}

.feedback .action .feedback-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: #2ac9bf;
    border-radius: 50%;
}

.feedback .action img {
}

.feedback .action {
}

.feedback .feedback-avatar {
    display: none;
}
